$c-fonts:#676c7b;/* main color fonts wich we need use*/
$c-act-fonts:#5867dd; /*main color active fonts*/
$c-dark:#293a43; //for back
$c-back-d:#292b3a;
$c-btn-hover:#3445d0;
$c-back-cont:#f2f3f8;//background content
